body {
    margin: auto;
    background-color: rgb(23, 20, 39);
    color: aliceblue;
    font-family: monospace;
    background-image: url(images/window2.png);
    background-repeat: no-repeat;
    font-family: "VT323", monospace;
    overflow: hidden;
}

header {
    text-align: center;
    animation: bounce infinite 1s;
}

main {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 30px;
    position: relative;
    left: 450px;
    top: 50px;
}


button {
    background-color: rgba(0, 0, 0, 0);
    color: aliceblue;
    border-width: 0px;
    width: fit-content;
    font-size: 24px;
}

p {
    font-size: 24px;
}

/* p:hover {
    color: rgb(186, 194, 202);
    cursor: pointer;
} */

/* #a, #b, #c, #d, #e, #f, #g, #h, #i {
    display: flex;
    width: 600px;   
    height: 50px;
    gap: 150px;
} */

/* .fa-caret-right:hover {
    color: rgb(186, 194, 202);
    cursor: pointer;
} */

button:hover {
    color: rgb(186, 194, 202);
    cursor: pointer;
}

.showing {
    opacity: 1;
}

.hidden {
    opacity: 0;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(5px);
    }

    100% {
        transform: translateY(0);
    }
}


