body {
    background-color: rgb(14, 14, 14);
    color: rgb(3, 170, 0);
    font-family: monospace;
    font-family: "VT323", monospace;
    overflow: hidden;
    position: absolute;
    width: 1200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

header {
    text-align: center;
    animation: bounce infinite 1s;
    color: green;
}

#content {
    padding: 20px;
    display: flex;
    gap: 60px;
    justify-content: space-evenly;
}

button {
    background-color: rgba(0, 0, 0, 0);
    color: rgb(3, 170, 0);
    border-width: 2px;
    border-color: rgb(2, 147, 0);;
    width: 300px;
    font-size: 24px;
    display: grid;
    grid-template-columns: 1fr;
    text-align: left;
    gap: 200px;
}

img {
    border-radius: 3px;
    border-color: green;
    border-style: double;
}

p {
    font-size: 24px;
}

button:hover {
    cursor: pointer;
    transform: translateX(20px);
    color: rgb(0, 0, 0);
    background-color: green;
    border-color: rgb(34, 175, 34);
}

.showing {
    opacity: 1;
    display: block;
}

.hidden {
    opacity: 0;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(5px);
    }

    100% {
        transform: translateY(0);
    }
}



