body {
    margin: auto;
    background-color: rgb(14, 14, 14);
    color: rgb(3, 170, 0);
    font-family: monospace;
    font-family: "VT323", monospace;
    overflow: hidden;
    position: absolute;
    max-width: 1200px;
}

header {
    text-align: center;
    animation: bounce infinite 1s;
}

nav {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 30px;
    /* position: relative;
    left: 450px;
    top: 50px; */
}

#content {
    padding: 20px;
    display: flex;
    gap: 60px;
    justify-content: space-evenly;
}

button {
    background-color: rgba(0, 0, 0, 0);
    color: rgb(3, 170, 0);
    border-width: 0px;
    width: fit-content;
    font-size: 24px;
}

p {
    font-size: 24px;
}

/* p:hover {
    color: rgb(186, 194, 202);
    cursor: pointer;
} */

/* #a, #b, #c, #d, #e, #f, #g, #h, #i {
    display: flex;
    width: 600px;   
    height: 50px;
    gap: 150px;
} */

/* .fa-caret-right:hover {
    color: rgb(186, 194, 202);
    cursor: pointer;
} */

button:hover {
    cursor: pointer;
    transform: translateX(20px);
    border-width: 2px;
    border-color: rgb(2, 147, 0);;
}

.showing {
    opacity: 1;
}

.hidden {
    opacity: 0;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(5px);
    }

    100% {
        transform: translateY(0);
    }
}



