body {
    font-family: "Fira Code", monospace;
    margin-left: 70px;
    margin-right: 70px;
    text-align: justify;
    background-color: rgb(14, 14, 14);
    color: aliceblue;
}

h1, h2 {
    font-family: "Averia Libre", system-ui;
}

header {
    padding-top: 10px;
    display: flex;
    gap: 20px;
}

a {
    color: aliceblue;
    border-width: 2x;
    border-radius: 10px;
    border-style: solid;
    border-color: aliceblue;
    padding: 5px;
}

main {
    padding-bottom: 20px;
}

img {
    color: aliceblue;
    border-width: 2x;
    border-radius: 10px;
    border-style: solid;
    border-color: aliceblue
}

#kirby {
    border-style: none;
}